astroid==2.4.2
Brotli==1.0.9
casadi==3.5.5
click==7.1.2
control==0.8.3
cycler==0.10.0
dill==0.3.3
Flask==1.1.2
Flask-Compress==1.6.0
future==0.18.2
iso8601==0.1.14
isort==5.5.1
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.3.0
mccabe==0.6.1
mpmath==1.1.0
multiprocess==0.70.11.1
numpy==1.19.1
pandas==1.1.3
Pillow==7.2.0
pylint==2.6.0
pyparsing==2.4.7
pyserial==3.5
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.4.1
retrying==1.3.3
scipy==1.5.2
seaborn==0.11.0
serial==0.0.97
six==1.15.0
sympy==1.6.2
toml==0.10.1
Werkzeug==1.0.1
wrapt==1.12.1
